@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .mono-bold {
    font-variation-settings: 'wght' 150;
  }

  .mono-medium {
    font-variation-settings: 'wght' 125;
  }

  .font-thin {
    font-variation-settings: 'wght' 100, 'wdth' 4.3;
  }

  .font-extralight {
    font-variation-settings: 'wght' 140, 'wdth' 4.3;
  }

  .font-light {
    font-variation-settings: 'wght' 300, 'wdth' 4.3;
  }

  .font-normal {
    font-variation-settings: 'wght' 400, 'wdth' 4.3;
  }

  .font-medium {
    font-variation-settings: 'wght' 500, 'wdth' 4.3;
  }

  .font-semibold {
    font-variation-settings: 'wght' 600, 'wdth' 4.3;
  }

  .font-bold {
    font-variation-settings: 'wght' 700, 'wdth' 4.5;
  }

  .font-extrabold {
    font-variation-settings: 'wght' 800, 'wdth' 4.3;
  }

  .font-black {
    font-variation-settings: 'wght' 900, 'wdth' 4.3;
  }
}

@font-face {
  font-family: 'ABC Social';
  src: url('../../public/fonts/ABCSocialPlusVariableEdu.woff2') format('woff2-variations');
  font-display: swap;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('../../public/fonts/BerkeleyMonoVariable-Regular.woff2') format('woff2-variations');
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
}

.grid-cols-downloadRow {
  grid-template-columns: 113px 1fr 113px 118px 103px;
}